<div class="authenticationzhangxin">
	<!--<img src="images/Introduced/1_02.png"/>-->
	<h1>开始，申请商户认证</h1>
	<h2>认证商户专属特权</h2>
	<p style="margin-top: 1.6rem;"><img src="images/authentication/1.png" alt="" />　<span>获取更多客源</span>　</p>
	<p><img src="images/authentication/1.png" alt="" /><span>随时掌握门店数据</span></p>
	<p><img src="images/authentication/1.png" alt=""  /><span>加入省啊商家联盟</span></p>
	<p><img src="images/authentication/1.png" alt="" /><span>开启全新商业模式</span></p>
	<button ng-click="toUrl('/mct/registermd')">申请认证</button>
	<!--<h3 class="right">已有账号，直接绑定</h3>-->
</div>