.auditfailurezhangxin{
        width: 7.5rem;
        height: 100%;
        background: #FFFFFF;
        margin: 0 auto;
        text-align: center;
        
        img{
            width: 3.43rem;
            height: 3.64rem;
            margin-top: 0.54rem;
        }
        h1{
            font-size: 0.26rem;
            margin: 0.2rem 0;
        }
        .b1{
            width: 6.8rem;
            height: 1rem;
            line-height: 1rem;
            text-align: center;
            color: #FFFFFF;
            background: #1C82D4;
            border-radius: 4px;
            margin-top: 0.26rem;
            font-size: 0.36rem;
        }
        .b2{
            width: 6.8rem;
            height: 1rem;
            line-height: 1rem;
            text-align: center;
            color: #FFFFFF;
            background: #888888;
            border-radius: 4px;
            margin-top: 0.15rem;
            font-size: 0.36rem;
        }
        p{
            font-size: 0.3rem;
            color: #1C82D4;
            text-align: right;
            margin-top: 0.74rem;
            width: 7rem;
        }
        .img{
            width: 0.32rem;
            height: 0.32rem;
            margin-right: 0.2rem;
        }
}
