<div class="nearbywamfujin">
	<!--<div class="maintop">
	    <div class="diqu">
	    	上海
	    </div>
	    <div class="search_box">
            <img src="images/index/search.png">
            <input class="search_input" type="text" placeholder="可搜索店铺名称">
        </div>
	</div>-->
	<div class="search_header">
	
	    <div class="location center"><span>上海</span><img src="../web/application/modules/nearby/images/1.png"></div>
	
	    <div class="search_box">
	        <img src="images/index/search.png">
	        <input class="search_input" type="text" placeholder="可搜索店铺名称">
	    </div>
	
	    <img class="scan_btn" src="images/index/scanBtn.png">
	    <!--<div class="bg"></div>-->
	</div>
	<div class="clear"></div>
	<div class="nav clear">
		<div style="color: #1C82D4;border-bottom: 2px solid #1C82D4;">享美食</div>
		<div>住酒店</div>
		<div>爱玩乐</div>
		<div>想购物</div>
		<div>全部</div>
	</div>
	<div class="seller_list">
        <!--<div class="list_header">
            <span class="like_tip">猜你喜欢</span>
            <div class="change_list_btn" ng-click="">
                <span>换一批</span><img src="images/index/changeListBtn.png">
            </div>
        </div>-->
        <ul class="list_content">
            <li>
                <img class="seller_avatar" src="images/index/demo_sell_item.png">
                <div class="seller_infos">
                    <div class="seller_name">德克士</div>
                    <div class="seller_distence">17111.5km</div>
                    <div class="seller_position">
                        <img src="images/index/position.png">
                        <div>[浦江镇生活广场]</div>
                    </div>

                    <div class="seller_stars">
                        <img src="images/index/starAct.png">
                        <img src="images/index/starAct.png">
                        <img src="images/index/starAct.png">
                        <img src="images/index/starAct.png">
                        <img src="images/index/star.png">
                    </div>
                    <div class="pay_btn">
                        买单
                    </div>
                </div>

            </li>

        </ul>
    </div>
    <div class="seller_list">
        <!--<div class="list_header">
            <span class="like_tip">猜你喜欢</span>
            <div class="change_list_btn" ng-click="">
                <span>换一批</span><img src="images/index/changeListBtn.png">
            </div>
        </div>-->
        <ul class="list_content">
            <li>
                <img class="seller_avatar" src="images/index/demo_sell_item.png">
                <div class="seller_infos">
                    <div class="seller_name">德克士</div>
                    <div class="seller_distence">17111.5km</div>
                    <div class="seller_position">
                        <img src="images/index/position.png">
                        <div>[浦江镇生活广场]</div>
                    </div>

                    <div class="seller_stars">
                        <img src="images/index/starAct.png">
                        <img src="images/index/starAct.png">
                        <img src="images/index/starAct.png">
                        <img src="images/index/starAct.png">
                        <img src="images/index/star.png">
                    </div>
                    <div class="pay_btn">
                        买单
                    </div>
                </div>

            </li>

        </ul>
    </div>
    <div class="seller_list">
        <!--<div class="list_header">
            <span class="like_tip">猜你喜欢</span>
            <div class="change_list_btn" ng-click="">
                <span>换一批</span><img src="images/index/changeListBtn.png">
            </div>
        </div>-->
        <ul class="list_content">
            <li>
                <img class="seller_avatar" src="images/index/demo_sell_item.png">
                <div class="seller_infos">
                    <div class="seller_name">德克士</div>
                    <div class="seller_distence">17111.5km</div>
                    <div class="seller_position">
                        <img src="images/index/position.png">
                        <div>[浦江镇生活广场]</div>
                    </div>

                    <div class="seller_stars">
                        <img src="images/index/starAct.png">
                        <img src="images/index/starAct.png">
                        <img src="images/index/starAct.png">
                        <img src="images/index/starAct.png">
                        <img src="images/index/star.png">
                    </div>
                    <div class="pay_btn">
                        买单
                    </div>
                </div>

            </li>

        </ul>
    </div>
    <div class="seller_list">
        <!--<div class="list_header">
            <span class="like_tip">猜你喜欢</span>
            <div class="change_list_btn" ng-click="">
                <span>换一批</span><img src="images/index/changeListBtn.png">
            </div>
        </div>-->
        <ul class="list_content">
            <li>
                <img class="seller_avatar" src="images/index/demo_sell_item.png">
                <div class="seller_infos">
                    <div class="seller_name">德克士</div>
                    <div class="seller_distence">17111.5km</div>
                    <div class="seller_position">
                        <img src="images/index/position.png">
                        <div>[浦江镇生活广场]</div>
                    </div>

                    <div class="seller_stars">
                        <img src="images/index/starAct.png">
                        <img src="images/index/starAct.png">
                        <img src="images/index/starAct.png">
                        <img src="images/index/starAct.png">
                        <img src="images/index/star.png">
                    </div>
                    <div class="pay_btn">
                        买单
                    </div>
                </div>

            </li>

        </ul>
    </div>
    <div class="seller_list">
        <!--<div class="list_header">
            <span class="like_tip">猜你喜欢</span>
            <div class="change_list_btn" ng-click="">
                <span>换一批</span><img src="images/index/changeListBtn.png">
            </div>
        </div>-->
        <ul class="list_content">
            <li>
                <img class="seller_avatar" src="images/index/demo_sell_item.png">
                <div class="seller_infos">
                    <div class="seller_name">德克士</div>
                    <div class="seller_distence">17111.5km</div>
                    <div class="seller_position">
                        <img src="images/index/position.png">
                        <div>[浦江镇生活广场]</div>
                    </div>

                    <div class="seller_stars">
                        <img src="images/index/starAct.png">
                        <img src="images/index/starAct.png">
                        <img src="images/index/starAct.png">
                        <img src="images/index/starAct.png">
                        <img src="images/index/star.png">
                    </div>
                    <div class="pay_btn">
                        买单
                    </div>
                </div>

            </li>

        </ul>
    </div>
    <div class="seller_list">
        <ul class="list_content">
            <li>
                <img class="seller_avatar" src="images/index/demo_sell_item.png">
                <div class="seller_infos">
                    <div class="seller_name">德克士</div>
                    <div class="seller_distence">17111.5km</div>
                    <div class="seller_position">
                        <img src="images/index/position.png">
                        <div>[浦江镇生活广场]</div>
                    </div>
                    <div class="seller_stars">
                        <img src="images/index/starAct.png">
                        <img src="images/index/starAct.png">
                        <img src="images/index/starAct.png">
                        <img src="images/index/starAct.png">
                        <img src="images/index/star.png">
                    </div>
                    <div class="pay_btn">
                                            买单
                    </div>
                </div>

            </li>

        </ul>
    </div>
</div>