.registertwo {
  width: 7.5rem;
  font-size: 0.26rem;
  height: auto; }
  .registertwo .register_main {
    width: 7.5rem;
    height: 100%;
    position: absolute;
    top: 0; }
    .registertwo .register_main img {
      width: 7.5rem; }
    .registertwo .register_main .register_input_group {
      letter-spacing: 1px;
      width: 100%;
      height: 1rem;
      margin-bottom: 1px;
      background: #FFFFFF;
      line-height: 1rem;
      text-indent: 0.4rem;
      font-size: 0.3rem; }
      .registertwo .register_main .register_input_group span {
        font-size: 0.28rem;
        float: left; }
      .registertwo .register_main .register_input_group .right {
        display: inline;
        color: #888;
        margin-right: 0.4rem;
        float: right;
        padding: 0;
        font-size: 0.28rem; }
        .registertwo .register_main .register_input_group .right span {
          font-size: 0.28rem;
          float: left; }
        .registertwo .register_main .register_input_group .right img {
          width: 0.2rem;
          height: 0.26rem;
          margin-left: 0.1rem;
          margin-top: 0.35rem;
          float: left; }
      .registertwo .register_main .register_input_group input {
        font-size: 0.26rem;
        color: #888888;
        margin-left: 0.5rem;
        float: left;
        min-height: 1rem;
        width: auto; }
    .registertwo .register_main .shang {
      height: 2rem;
      background: #fff; }
      .registertwo .register_main .shang span {
        padding-left: 0.4rem;
        padding-top: 0.3rem;
        display: block;
        float: left;
        font-size: 0.28rem; }
      .registertwo .register_main .shang .add {
        width: 1.6rem;
        height: 1.6rem;
        margin-top: 0.2rem;
        background: #f0f0f0;
        float: right;
        margin-right: 0.4rem;
        position: relative; }
        .registertwo .register_main .shang .add .adda {
          width: 1rem;
          height: 1rem;
          border: 0.04rem dashed #FFFFFF;
          margin-top: 0.25rem;
          margin-left: 0.25rem;
          font-size: 1rem;
          color: #fff;
          text-align: center;
          line-height: 1rem;
          position: absolute;
          top: 0; }
        .registertwo .register_main .shang .add input {
          position: absolute;
          top: 0;
          opacity: 0;
          margin-top: 0.8rem;
          z-index: 111;
          width: 1.5rem; }
        .registertwo .register_main .shang .add img {
          position: absolute;
          height: 1.6rem;
          width: 1.6rem;
          top: 0;
          display: block;
          opacity: 1; }
    .registertwo .register_main .register_btn {
      width: 6.82rem;
      height: 0.98rem;
      line-height: 0.98rem;
      border-radius: 4px;
      background: #1C82D4;
      color: #FFFFFF;
      text-align: center;
      margin: 0 auto;
      font-size: 0.34rem;
      margin-top: 0.5rem;
      padding: 0;
      text-indent: 0rem; }
  .registertwo .type {
    position: absolute;
    top: 0;
    height: 100%;
    width: 7.5rem;
    background: rgba(0, 0, 0, 0.5);
    display: none; }
    .registertwo .type .typecon {
      width: 100%;
      height: auto;
      background: #fff;
      position: absolute;
      bottom: 0;
      padding-bottom: 0.4rem; }
      .registertwo .type .typecon .typecontop {
        height: 0.8rem;
        border-bottom: 0.015rem solid #f0f0f0;
        line-height: 0.8rem;
        font-size: 0.32rem;
        color: #1C82D4; }
        .registertwo .type .typecon .typecontop span:nth-child(1) {
          float: left;
          margin-left: 0.4rem; }
        .registertwo .type .typecon .typecontop span:nth-child(2) {
          float: right;
          margin-right: 0.4rem; }
      .registertwo .type .typecon .typeconbottom {
        width: 100%;
        height: auto; }
        .registertwo .type .typecon .typeconbottom li {
          float: left;
          width: 1.8rem;
          height: 0.8rem;
          border: 0.015rem solid #888888;
          border-radius: 0.1rem;
          margin-top: 0.28rem;
          font-size: 0.3rem;
          color: #353535;
          text-align: center;
          line-height: 0.8rem;
          margin-left: 0.4rem;
          margin-right: 0.15rem; }
        .registertwo .type .typecon .typeconbottom .biana {
          background: #1C82D4;
          color: #FFFFFF; }
  .registertwo .time {
    position: absolute;
    top: 0;
    height: 100%;
    width: 7.5rem;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 999; }
    .registertwo .time .timecon {
      width: 100%;
      height: auto;
      background: #fff;
      position: absolute;
      bottom: 0;
      padding-bottom: 0.4rem; }
      .registertwo .time .timecon .timecontop {
        height: 0.8rem;
        border-bottom: 0.015rem solid #f0f0f0;
        line-height: 0.8rem;
        font-size: 0.32rem;
        color: #1C82D4; }
        .registertwo .time .timecon .timecontop span:nth-child(1) {
          float: left;
          margin-left: 0.4rem; }
        .registertwo .time .timecon .timecontop span:nth-child(2) {
          float: right;
          margin-right: 0.4rem; }
      .registertwo .time .timecon .timeconbottom {
        width: 100%;
        height: auto; }
        .registertwo .time .timecon .timeconbottom li {
          float: left;
          width: 1.8rem;
          height: 0.8rem;
          border: 0.015rem solid #888888;
          border-radius: 0.1rem;
          margin-top: 0.28rem;
          font-size: 0.3rem;
          color: #353535;
          text-align: center;
          line-height: 0.8rem;
          margin-left: 0.4rem;
          margin-right: 0.15rem; }

/*# sourceMappingURL=registermd.css.map */
