<div class="businessbigbox">
    <img src="../web/images/Introduced/3_02.png"/>
    <div>
        <h1>加盟代理</h1>
        <h2>如果您有意向，输入您的联系方式，我们竭诚为您服务</h2>
        
    </div>
    <div class="center">
         <h2>姓名</h2>
         <input type="text" name="" id="" value="" />
         <h2>电话</h2>
         <input type="text" name="" id="" value="" />
         <button style="width: 100%;background: #1C82D4;text-align: center;height: 0.75rem;color: #FFFFFF;line-height: 0.75rem;border-radius: 4px;">立即提交</button>
    </div>
</div>