.nearbybigbox {
  width: 7.5rem;
  height: 100%;
  background: #f0f0f0;
  color: #353535;
  font-size: 0.28rem; }
  .nearbybigbox .search_header {
    width: 7.5rem;
    height: 1.11rem;
    position: fixed;
    background: #FFFFFF; }
    .nearbybigbox .search_header .location {
      width: 1rem;
      float: left;
      font-size: 0.32rem;
      margin-top: 0.3rem;
      margin-left: 0.17rem; }
      .nearbybigbox .search_header .location span {
        float: left;
        font-size: 0.32rem;
        color: #353535; }
      .nearbybigbox .search_header .location img {
        width: 0.16rem;
        height: 0.16rem;
        margin-left: 0.16rem;
        margin-top: 0.25rem;
        float: left; }
    .nearbybigbox .search_header .search_box {
      width: 5.13rem;
      height: 0.67rem;
      background: #F0F0F0;
      margin-top: 0.22rem;
      margin-left: 0.2rem;
      -webkit-border-radius: 0.34rem;
      -moz-border-radius: 0.34rem;
      border-radius: 0.34rem;
      float: left;
      overflow: hidden; }
      .nearbybigbox .search_header .search_box img {
        width: 0.35rem;
        height: 0.35rem;
        margin-top: 0.16rem;
        margin-left: 0.2rem;
        float: left; }
      .nearbybigbox .search_header .search_box .search_input {
        height: 0.75rem;
        width: auto;
        line-height: 0.75rem;
        outline: none;
        border: 0;
        font-size: 0.26rem;
        margin-left: 0.3rem;
        background: #F0F0F0;
        min-height: auto; }
    .nearbybigbox .search_header .scan_btn {
      width: 0.50rem;
      height: 0.46rem;
      margin-top: 0.325rem;
      margin-left: 0.3rem; }
  .nearbybigbox .nav {
    width: 100%;
    margin: 0;
    background: #FFFFFF;
    margin-top: 1.11rem;
    float: left;
    border-bottom: 0.02rem solid #F0F0F0; }
    .nearbybigbox .nav li {
      width: 20%;
      height: 0.9rem;
      line-height: 0.9rem;
      text-align: center;
      float: left;
      color: #353535;
      font-size: 0.3rem; }
    .nearbybigbox .nav .active {
      color: #1C82D4;
      border-bottom: 0.05rem solid #1C82D4; }
    .nearbybigbox .nav .lan {
      color: #1C82D4;
      border-bottom: 0.05rem solid #1C82D4; }
    .nearbybigbox .nav .write {
      color: #FFFFFF; }
  .nearbybigbox .conbox {
    width: 500%;
    margin-top: 0.26rem;
    margin-bottom: 1rem;
    float: left; }
    .nearbybigbox .conbox .seller_list {
      width: 7.5rem;
      height: auto;
      float: left; }
      .nearbybigbox .conbox .seller_list .list_content {
        width: 100%;
        height: auto;
        float: left;
        background: #fff;
        width: 100%;
        height: 2.58rem;
        margin-bottom: 0.2rem; }
        .nearbybigbox .conbox .seller_list .list_content .seller_avatar {
          width: 2rem;
          height: 2rem;
          margin-top: .2rem;
          margin-bottom: 0.2rem;
          float: left; }
        .nearbybigbox .conbox .seller_list .list_content .seller_infos {
          width: 5.25rem;
          height: 2rem;
          margin-left: .25rem;
          margin-top: .2rem;
          margin-bottom: 0.2rem;
          float: left; }
          .nearbybigbox .conbox .seller_list .list_content .seller_infos .seller_name {
            color: #353535;
            font-size: .34rem;
            width: 3.5rem;
            line-height: .34rem;
            overflow: hidden;
            float: left; }
          .nearbybigbox .conbox .seller_list .list_content .seller_infos .seller_distence {
            width: 1rem;
            font-size: .28rem;
            color: #888888;
            float: right;
            margin-right: 0.4rem;
            text-align: right; }
          .nearbybigbox .conbox .seller_list .list_content .seller_infos .seller_position {
            color: #a9a9a9;
            width: 100%;
            height: .32rem;
            margin-top: .2rem;
            float: left;
            line-height: 0.32rem; }
            .nearbybigbox .conbox .seller_list .list_content .seller_infos .seller_position img {
              width: .23rem;
              height: .3rem;
              float: left;
              margin-right: 0.1rem; }
            .nearbybigbox .conbox .seller_list .list_content .seller_infos .seller_position span {
              float: left;
              font-size: 0.28rem; }
            .nearbybigbox .conbox .seller_list .list_content .seller_infos .seller_position div {
              font-size: .28rem;
              color: #888888;
              height: .32rem;
              line-height: .32rem;
              overflow: hidden;
              float: left; }
          .nearbybigbox .conbox .seller_list .list_content .seller_infos .seller_stars {
            width: 3rem;
            height: .36rem;
            margin-top: 0.7rem;
            float: left; }
            .nearbybigbox .conbox .seller_list .list_content .seller_infos .seller_stars img {
              width: .39rem;
              height: .36rem;
              margin-right: .2rem;
              float: left; }
          .nearbybigbox .conbox .seller_list .list_content .seller_infos .start {
            width: 3rem;
            float: left;
            margin-top: 0.75rem;
            height: 0.4rem;
            line-height: 0.4rem; }
            .nearbybigbox .conbox .seller_list .list_content .seller_infos .start .rating {
              color: #a9a9a9;
              margin: 0;
              padding: 0; }
            .nearbybigbox .conbox .seller_list .list_content .seller_infos .start ul.rating {
              display: inline-block;
              width: 3rem;
              height: 100%;
              float: left; }
            .nearbybigbox .conbox .seller_list .list_content .seller_infos .start .rating li {
              width: 0.35rem;
              display: inline-block;
              padding-right: 1px;
              text-align: center;
              font-weight: bold;
              cursor: pointer;
              font-size: 0.4rem;
              float: left;
              margin-right: 0.1rem;
              color: #A9A9A9; }
            .nearbybigbox .conbox .seller_list .list_content .seller_infos .start .rating .filled {
              color: #ffba15; }
          .nearbybigbox .conbox .seller_list .list_content .seller_infos .pay_btn {
            width: 1.5rem;
            height: .6rem;
            border: #1C82D4 0.015rem solid;
            text-align: center;
            line-height: .6rem;
            margin-right: .4rem;
            margin-top: 0.5rem;
            -webkit-border-radius: .08rem;
            -moz-border-radius: .08rem;
            border-radius: .08rem;
            float: right;
            font-size: 0.3rem;
            color: #1c82d4; }

/*# sourceMappingURL=nearby.css.map */
