<div class="storezhangxin">
	<h1>尊敬的商户，欢迎使用省啊商家版</h1>
	<h1>
		<img src="../web/images/Authentication/提示.png"/ style="width: 0.3rem;height: 0.3rem;float: none;"> 
		请先进行商户认证，绑定门店信息
		<span class="right" style="margin-right: 0.3rem;"  ng-click="toUrl('mct/authentication')">
			<img style="width: 0.14rem;height: 0.26rem;float: none;margin-left: 0.2rem;" src="../web/images/Authentication/箭头.png" alt="" />
		</span>
	</h1>
	
	<div class="boxxia">
		<div class="hez left"><img src="../web/images/Authentication/9.png" alt="" style="float: none;" /><br />门店管理</div>
		<div class="hez"><img src="../web/images/Authentication/订单管理.png" alt="" style="float: none;" /><br />订单管理</div>
		<div class="hez right"><img src="../web/images/Authentication/财务记录.png" alt="" style="float: none;" /><br />财务记录</div>
		<div class="hez left"><img src="../web/images/Authentication/账户提现.png" alt="" style="float: none;" /><br />账户提现</div>
	    <div class="hez"><img src="../web/images/Authentication/11.png" alt="" style="float: none;" /><br />人脉管理</div>
	    <div class="hez right"><img src="../web/images/Authentication/10.png" alt="" style="float: none;" /><br />口碑管理</div>
		<div class="hez left"><img src="../web/images/Authentication/意见反馈.png" alt="" style="float: none;" /><br />意见反馈</div>
	    <div class="hez"><img src="../web/images/Authentication/关于我们.png" alt="" style="float: none;" /><br />关于我们</div>
	    <div class="hez right"><img src="../web/images/Authentication/4.png" alt="" style="float: none;" /><br />联系我们</div>
	</div>
	
</div>