<div class="gongbox">
    <div class="gonglist" ng-click="toUrl('/user/whatmai')">
    	<img src="images/gong/one.png" alt="" />
    	<p>如何使用省啊买单？</p>
    	<img src="images/index/rightarrows.png" alt="" class="imga"/>
    </div>
    <div class="gonglist" ng-click="toUrl('/user/whatfen')">
    	<img src="images/gong/two.png" alt="" />
    	<p>如何发展粉丝？</p>
    	<img src="images/index/rightarrows.png" alt=""  class="imga"/>
    </div>
    <div class="gonglist" ng-click="toUrl('/user/whatfennum')">
    	<img src="images/gong/three.png" alt="" />
    	<p>如何查看粉丝数量？</p>
    	<img src="images/index/rightarrows.png" alt=""  class="imga"/>
    </div>
    <div class="gonglist" ng-click="toUrl('/user/whatfan')">
    	<img src="images/gong/four.png" alt="" />
    	<p>如何查看自己及粉丝的消费返利？</p>
    	<img src="images/index/rightarrows.png" alt=""  class="imga"/>
    </div>
</div>